body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}


/* header section */

.header {
  position: relative;
  height: 100%;
}

.img-top {
  width: 100%;
  position: relative;
}

.header-content {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
}

.navbar-content {
  color: white;
  font-weight: bold;
  font-size: 20pt;
  text-decoration: none;
}

.navbar ul {
  display: table;
  margin: 5px;
}

.navbar ul li {
  display: table-cell;
  padding: 15px;
  list-style: none;
  vertical-align: middle;
}


/* main section */

/* footer section */
