body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}


/* header section */

.header {
  position: relative;
  height: 100%;
}

.img-top {
  width: 100%;
  position: relative;
}

/* main section */

/* footer section */
